.treatments-title {
  text-align: center;
  margin-top: 2rem;
  border-top: 2px solid rgb(174, 220, 247);
  border-bottom: 2px solid rgb(174, 220, 247);
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}
