* {
  margin: 0px;
  position: relative;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

html {
  position: relative;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

.scroll-to-top {
  position: fixed;
  top: 90%;
  bottom: 0;
  left: 75%;
  right: 0;
  z-index: 1000000;
  height: 50px;
  width: 100px;
  transform: translateX(1000%);
  object-fit: contain;
}

.scroll-to-top:active {
  border-style: onset;
}

.scrollShow {
  transform: translateX(0%);
  transition: transform 0.2s;
}

.scrollShow:active {
  border-style: onset;
}

@media screen and (max-width: 350px) {
  html {
    width: 66vh;
    margin: auto;
  }
}

@media screen and (min-width: 640px) {
  main {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
  }

  .intro-wrapper {
    background-size: 150%;
    background-position: 10%;
  }

  .introduction-text {
    padding-top: 5rem;
    padding-right: 5rem;
  }

  .summary-image {
    height: 80%;
    width: 80%;
  }

  .contact-section {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1050px) {
  html {
    font-size: 100%;
  }
  body {
    width: 60%;
    margin: auto;
    margin-top: 1rem;
  }

  .intro-wrapper {
    background-size: 150%;
    height: 40rem;
    width: 100%;
  }

  .introduction-text h1 {
    font-size: 4rem;
    padding-top: 3rem;
  }
  .summary {
    flex-direction: row;
    margin-top: 4rem;
  }

  #second-summary * {
    margin-right: auto;
  }

  #second-summary img {
    margin: 0px;
  }

  .summary-text {
    width: 80%;
    margin-left: auto;
    text-align: left;
  }

  .summary-image img {
    width: max-content;
    margin-left: auto;
    margin-right: 2rem;
  }

  .summary-image img {
    height: 180px;
    width: 180px;
  }

  #clock {
    height: 160px;
    width: 160px;
  }
  .reverse-order {
    order: 1;
    margin-left: 5rem;
  }
  .home-staff {
    align-self: center;
    width: 70%;
    margin: auto;
    margin-top: 5rem;
  }

  .contact-section {
    flex: 0.5;
    width: 50%;
    margin: auto;
  }

  .doctor-body-image {
    margin-top: 2rem;
  }

  .doctor-description p {
    text-align: left;
    width: 50%;
    margin: auto;
  }

  .doctor-body-image img {
    margin: auto;
  }

  .doctor-bio {
    font-size: 1rem;
    text-align: center;
    margin: auto;
  }

  .home-flex {
    display: flex;
    gap: 10px;
    margin-top: 4rem;
  }
  .staff-image img {
    height: 400px;
    width: 400px;
    object-fit: contain;
  }
}
